In [4]:
import pandas

In [5]:
import pandas

In [18]:
import pandas as pd

In [10]:
pd.__version__

'1.5.2'

In [11]:
VAC_ATTENDENCE=pd.Series([125,156,196],index=[1,2,3])

VAC_ATTENDENCE=pd.Series([125,156,196],index=[1,2,3])

In [12]:
print(VAC_ATTENDENCE)

1    125
2    156
3    196
dtype: int64

In [19]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'feb',4:'apr',3:'aug',4:'nov'}}

In [20]:
d=pd.DataFrame(season,columns=["rainy","dry"])

In [21]:
d

  rainy  dry
1   nov  mar
2   dec  feb
3   jan  aug
4   feb  nov

In [22]:
import numpy as np

In [26]:
a=pd.DataFrame(np.random.randint(0,300,size=(12,6)),columns=list(('abcdef')))

In [28]:
print(a)

      a    b    c    d    e    f
0   137   38   58  121  256   12
1    95  102  162   14  226  283
2   218  142   46   67  218   25
3    76  250   19  172   14   69
4   214  228   29    9   96   80
5   190   35  122   43  179  287
6    38   82  170  275  117  258
7   253  274  144   23   24  266
8   242  156  127  143  112  261
9   194   75   23   54   86  220
10  112  292   96  229  143    7
11  277   71  199  178  173   66

In [30]:
a.to_csv("d:\sweety.csv")

In [31]:
a.drop("f",axis=1)

      a    b    c    d    e
0   137   38   58  121  256
1    95  102  162   14  226
2   218  142   46   67  218
3    76  250   19  172   14
4   214  228   29    9   96
5   190   35  122   43  179
6    38   82  170  275  117
7   253  274  144   23   24
8   242  156  127  143  112
9   194   75   23   54   86
10  112  292   96  229  143
11  277   71  199  178  173

In [35]:
a.drop("a",axis=1)

      b    c    d    e    f
0    38   58  121  256   12
1   102  162   14  226  283
2   142   46   67  218   25
3   250   19  172   14   69
4   228   29    9   96   80
5    35  122   43  179  287
6    82  170  275  117  258
7   274  144   23   24  266
8   156  127  143  112  261
9    75   23   54   86  220
10  292   96  229  143    7
11   71  199  178  173   66