In [ ]:
pip install sklearn

In [ ]:
pip show sklearn

In [ ]:
pip install scikit-learn

In [ ]:
from sklearn.impute import simpleImputer

In [ ]:
pip show numpy

In [5]:
import pandas as pd

In [8]:
Salary_details=pd.DataFrame({'salary':[1000,50000,15000,2000],'cat':['low','high','mid','low']})

In [9]:
Salary_details

   salary   cat
0    1000   low
1   50000  high
2   15000   mid
3    2000   low

In [10]:
Salary_details.cat.map({'low':1,'mid':2,'high':3})

0    1
1    3
2    2
3    1
Name: cat, dtype: int64

In [11]:
order=['mid','high','low']